<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <!-- 絞り込み機能 -->
    <div>
        <form action="/">
            日付：<input type="date" name="start">
            ～　<input type="date" name="end">
            <input type="submit" value="絞り込み">
        </form>
    </div>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <!-- エラーメッセージ表示 -->
        <div th:if="${errorMessage} and ${content.id} == ${sessionId}">
            <p th:text="${errorMessage}"></p>
        </div>
        <!-- コメントフォーム -->
        <div class="comment-form">
            <form th:action="@{/comment/{reportId}(reportId=${content.id})}" th:object="${commentForm}" method="post">
                <div class="comment-area">
                    <textarea th:field="*{text}" size="20" maxlength="200"></textarea><br/>
                    <input type="submit" value="コメント"/>
                </div>
            </form>
        </div>
        <!-- 各コメント表示 -->
        <div class="comments" th:each="comment : ${comments}">
            <div th:if="${content.id} == ${comment.reportId}">
                〇 <span th:text="${comment.text}"/>
                <!-- コメント編集画面遷移ボタン -->
                <form th:action="@{/edit/comment/{id}(id=${comment.id})}" method="get">
                    <input type="submit" value="編集">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

